{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <div id="container">
                {% for exim in exims %}
                   {{ exim.name }}<br \>
                    {{ exim.type }}<br \>
                    {{ exim.value }}<br \>
                    <hr \>
                {% endfor %}
        </div>
    </div>
{% endblock %}
