<!DOCTYPE html>

{% block menu %}
<a href="{{ path('domain_homepage') }}">Domain</a><br />
<a href="{{ path('email_homepage') }}">Email</a><br />
{% endblock %}
{#{% block title %}Yourapp{% endblock %}#}
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
