{#{% extends 'MopaBootstrapBundle::base.html.twig' %}#}
{% extends 'base.html.twig' %}

{% block menu %}

{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">

            </div>

            <div id="next">
                <h2>What's next?</h2>
                <p>


                    Read the documentation to learn
                    <a href="http://symfony.com/doc/{{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION')[:3] }}/page_creation.html">
                        How to create your first page in Symfony
                    </a>
                </p>
            </div>

        </div>
    </div>
{% endblock %}
