{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <div id="container">

            <div class="col-lg-6">
                <p>
                    Emails:
                    {% for email in emails %}
                        {% if email.password is not null %}
                        <li>{{ email.username }}</li>
                        {% endif %}
                    {% endfor %}
                Aliases:
                {% for email in emails %}
                    {% if email.password is null %}
                        <li>{{ email.username }}</li>
                    {% endif %}
                {% endfor %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
