{% extends 'base.html.twig' %}
{% block body %}
   <div class="container">
    <div class="col-lg-4 pull-right">

    {{ form_start(form) }}
    {{ form_rest(form) }}
        <button class="btn btn-primary" type="submit">Create</button>
        {{ form_end(form) }}

    </div>
   </div>
{% endblock %}